*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --bg:#16202b;
    --primary:#114665;
    --accent:#720f32;
    --accent-light:#7b445a;
    --text:#fbf9e4;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:var(--bg);
}

.hero{
    background:var(--bg);
    min-height:100vh;
    padding:40px 70px;
    color:var(--text);
}

.hero-content{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:120px;
    padding: 50px 50px 0px 50px;
}

.left-side{
    position:relative;
    display:flex;
    flex-direction:column;
}

/* Repeating outline text */

.left-side::before{

    content:
    "PORTFOLIO\A"
    "PORTFOLIO\A"
    "PORTFOLIO";

    
    
    position:absolute;

    top:180px;

    font-size:110px;
    line-height:.9;
    font-weight:700;
    font-family: "Playfair Display", serif;
    color:transparent;
    -webkit-text-stroke:1px rgba(255,255,255,.28);

    z-index:0;
}

.logo{
    justify-self:center;
    font-family:"Playfair Display", serif;
    font-size:32px;
    color:#fbf9e4;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    backdrop-filter: blur(50px);
}

.hero-image{
    width:420px;
    height:500px;
    background:var(--primary);

    padding:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
    z-index:2;
}

.hero-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-text{
    position:relative;
    z-index:2;
    margin-top:-15px;
}

.hero-text h1{
    font-size:110px;
    line-height:.9;
    color:#fbf9e4;
    font-family: "Playfair Display", serif;
}

.about-section{
    max-width:480px;
    margin-top:70px;
}

.about-section h2{
    font-size:60px;
    line-height:1.1;
    margin-bottom:25px;
    font-family: "Playfair Display", serif;
}

.about-section p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:15px;
}

.contact-card{
    width:100%;
    margin-top:20px;
    background:#000;
    padding:25px;
    border-radius:12px;
}

.contact-card h3{
    font-size:30px;
    margin-bottom:20px;
    font-family: "Playfair Display", serif;
    color:#fbf9e4;
}

.contact-card p{
    font-size:15px;
    color:#fbf9e4;
}

.education{
    margin-top:40px;
    padding: 50px;
}

.education h2{
    font-size:42px;
    margin-bottom:40px;
    color: #fbf9e4;
    font-family: "Playfair Display", serif;
}

.education-item{
    display:grid;
    grid-template-columns:30px 150px 1fr;
    column-gap:20px;
    margin-bottom:40px;
    position:relative;
}

.timeline{
    position:relative;
    display:flex;
    justify-content:center;
}

.dot{
    width:12px;
    height:12px;
    background:#fbf9e4;
    transform:rotate(45deg);
    margin-top:6px;
}

.year h3{
    font-size:28px;
    color:#fbf9e4;
}

.education-info h4{
    font-size:24px;
    margin-bottom:6px;
    color:#fbf9e4;
}

.education-info p{
    font-size:18px;
    color:var(--text);
}

.resume{
    background: var(--bg);
    padding: 80px 70px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.resume-left{
    flex: 1;
}

.resume-right{
    flex:1;
    margin-top:60px;
}

.resume-title{
    font-family:"Playfair Display", serif;
    font-size:110px;
    font-weight:700;
    line-height:.9;

    color:transparent;
    -webkit-text-stroke:1px #fbf9e4;

    margin-bottom:50px;
    margin-left: -60px;
}

.coding-skills h2{
    font-family:"Playfair Display", serif;
    font-size:42px;
    color:#fbf9e4;

    margin-bottom:25px;
}

.coding-skills ul{
    list-style:disc;
    padding-left:25px;
}

.coding-skills li{
    color:#fbf9e4;
    font-size:22px;
    line-height:2;
}

.projects{
    padding-left: 60px;
}

.projects h2{
    font-family:"Playfair Display", serif;
    font-size:42px;
    color:#fbf9e4;
    margin-bottom:30px;
}

.project-box{
    background:var(--accent);
    padding:30px;
    border-radius:16px;
}

.project-box ul{
    padding-left:25px;
}

.project-box li{
    color:#fbf9e4;
    margin-bottom:30px;
}

.project-box li:last-child{
    margin-bottom:0;
}

.project-box h3{
    font-size:24px;
    margin-bottom:10px;
    font-weight:600;
}

.project-box p{
    font-size:17px;
    line-height:1.7;
    color:#fbf9e4;
}

.extra-curriculars{
    margin-top:60px;
}

.extra-curriculars h2{
    font-family:"Playfair Display", serif;
    font-size:42px;
    color:#fbf9e4;
    margin-bottom:25px;
}

.activity-pills{
    display:flex;
    flex-wrap:wrap;
    gap:18px;
}

.activity-pills span{
    background:#000;
    color:#fbf9e4;

    padding:14px 24px;

    border-radius:999px;

    font-size:18px;
    font-weight:500;
}

.languages-section{
    background:#fbf9e4;

    margin-top:100px;
    margin-left:-70px;
    margin-right:-70px;

    padding:60px 70px;
}

.languages-section h2{
    font-family:"Playfair Display", serif;
    font-size:70px;

    text-align:center;

    color:transparent;
    -webkit-text-stroke:1.5px var(--accent);

    margin-bottom:40px;
}

.languages-list{
    display:flex;
    justify-content:space-evenly;
    align-items:center;

    max-width:1200px;
    margin:0 auto;
}

.languages-list span{
    color:var(--bg);
    font-size:26px;
    font-weight:600;
}